<div class="wrapper text-center">
<div class="search-artist-index">
    <%= form_tag "/artists", method: "get", class: 'form-banner' do |f| %>
    <%= select_tag 'city', options_for_select(@l_array, selected: params["city"]), class: 'select-pages-home selectpicker' %>
    <%= select_tag 'style', options_for_select(@styles, selected: params["style"]), class: 'select-pages-home selectpicker' %>
    <%= submit_tag "Discover Art", class: 'btn-landing' %>
    <% end %>
  </div>


  <br>
  <br>
  <% @artists.each do |artist| %>
  <% style_match = artist.styles.select {|style| style.name == params[:style]} %>
  <% if
    (params[:city] == artist.city && params[:style] == "Choose a style")        ||
    (params[:city] == "Choose a city" && params[:style] =="Choose a style")     ||
    (params[:city] == artist.city && style_match.any?)                          ||
    (params[:city] == "Choose a city" && style_match.any?)                      ||
    (params)[:city] == nil
    %>
    <%= render 'artist_photo', artist: artist %>

    <% end   %>
    <% end  %>

  </div>



