<div class="wrapper text-center">

  <div>
    Browse our Database of curated artists
    <%= form_tag "/artists", method: "get", class: 'form-banner' do %>
    <%= select_tag 'city', options_for_select(@l_array), class: 'select-pages-home' %>
    <%= submit_tag "Discover Art", class: 'btn-landing' %>
    <% end %>
  </div>

  <br>
  <br>

  <% @artists.each do |artist| %>

  <% if params[:city] != nil  %>

    <% if artist.city == params[:city]%>
    <div class="row no-gutter-artist-index">
      <% artist.photos.each do |photo| %>
      <div class="col-xs-4">
        <%=link_to photo_path(photo) do %>
          <%= image_tag photo.url, class: "img-responsive photo-artist-index" %>
        <% end %>

      </div>
      <% end %>
    </div>



  <% end %>

  <% elsif params[:city] == nil   %>





  <% end %>

  <% end  %>

</div>



