<div class="navbar-wagon">


      <%= link_to "get.inked", root_path, class: "navbar-wagon-brand"%>


  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? || artist_signed_in? %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "http://bit.ly/2s1EvE7", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to dashboard_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% else %>

    <div>
      <p style="display: inline;">Artist</p>
      <span class="navbar-item-vertical-line">|</span>
      <%= link_to t(".top_call_to_action", default: "Sign up"), new_artist_registration_path , class: "navbar-item navbar-landing-link" %>
      <%= link_to t(".sign_in", default: "Sign In"), new_artist_session_path, class: "navbar-item navbar-landing-link" %>
      <br>
      <p style="display: inline;">User</p>
      <span class="navbar-item-vertical-line">|</span>
      <%= link_to t(".top_call_to_action", default: "Sign up"), new_user_registration_path , class: "navbar-item navbar-landing-link" %>
      <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path, class: "navbar-item navbar-landing-link" %>

   </div>
   </div>



    <% end %>

      <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
    </div>
</div>

