
<h2>Welcome to the site <%= current_artist.extract_from_instagram[:artist_name] %>! </h2>

Please take a couple of seconds to finish your profile
This will help you become searchable in our platform
and get new jobs!


<%= simple_form_for current_artist, method: :put do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :address, required: true, autofocus: true %>
    <%= f.input :city, required: true, autofocus: true %>
    <%= f.input :info, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>



