
 <div class="row">
    <div class="col-xs-12">
     <div class="artist-edit-background">
       <div class="artist-edit-welcome">
         <h3> Log In </h3>
       </div>
     </div>
   </div>

   <div class="container-fluid">

   <div class="col-xs-12 text-center">

     <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>

     <div class="form-inputs submit-edit-profile">
      <%= f.input :email, label: false, placeholder: "Your email" , required: true, autofocus: true, input_html: {class: 'edit-profile-input' } %>
      <%= f.input :password, label: false, placeholder: "Your password" , required: true, autofocus: true, input_html: {class: 'edit-profile-input' } %>

      <%#= f.input :remember_me, label: false, placeholder: "remember me? " , required: true, input_html: {class: 'edit-profile-input' }, as: :boolean if devise_mapping.rememberable? %>

    </div>

    <div class="btn-login form-actions">
      <%= f.button :submit, "Log in", class: 'upload-pictures btn btn-primary' %>
    </div>
    <% end %>

    <div class= "text-center">
    <p>OR</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "upload-pictures btn btn-primary" %>
    </div>



  </div>

  </div>

</div>
