<div class="wrapper text-center">
  <h3> Go Select your work, <%= current_artist %> </h3>
YPUIR FORM
<%= simple_form_for :select_pictures, url: upload_pictures_artist_path(current_artist), method: :post do |f|%>
  <%= f.input_field :pictures_url,
     :collection => @artist.recent_media.map {|img| [image_tag(img["images"]["low_resolution"]["url"]).html_safe,img["images"]["low_resolution"]["url"]] },
     as: :check_boxes
  %>
  <%= f.submit "Upload Pictures" %>
<% end %>


  <% current_artist.recent_media.each do |media| %>

  <div>
    <%= image_tag media["images"]["low_resolution"]["url"] %>
    <%= media["images"]["low_resolution"]["url"] %>
  </div>

<% end %>

</div>
