<h1>This is user dashboard!</h1>
<h1>Welcome, <%= current_user.username %>!</h1>

<h3>Your upcoming appointments:</h3>
<% @appointments.each do |appointment| %>


<p>You're having an appointment with <%= appointment.artist.email %></p>
<% if appointment.status == "pending" %>
  <p>Status: <%= appointment.status %></p>

<% elsif appointment.status == "confirmed" %>

  <p>Deposit: <%= humanized_money_with_symbol(appointment.price) %></p>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'appointment_id', appointment.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

<% elsif appointment.status == "paid" %>
  <p> This Appointment has already been paid </p>
<% end %>

  <p>Your Sketch: </p>
  <% if appointment.photo %><%= cl_image_tag appointment.photo, height: 300, width: 400, crop: :fill %>
 <% end %>

<p>Messages:</p>
<p><%= appointment.message %></p>

<% end %>
