
<div class="container">
  <div class="row">
    <div class="col-xs-6" style="padding-left: 55px; padding-top: 30px;">
      <h3>
        Hello <%= current_artist.name %>
      </h3>
    </div>
    <div class="col-xs-6" style="padding-right: 50px; padding-top: 20px;">
      <div class="views">
        <p>
          Profile Views
        </p>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p>
          0
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" >
    <% if current_artist.appointments.count == 0 %>

      <div class="container text-center">
        <h4>You have no appointments at the moment</h4>
      </div>

      <% else %>


      <h4>
        Your appointments:
      </h4>
      <% @appointments.each do |appointment| %>
      <p>
        You have an upcoming appointment with <%= appointment.user.username %>
      </p>
      <p>
        Status: <%= appointment.status %>
      </p>
      <%= link_to "Confirm",  confirm_artist_appointment_path(current_artist, appointment) %>
      <%= link_to "Deny", deny_artist_appointment_path(current_artist, appointment) %>
      <p>
        You're having an appointment with <%= appointment.user.username %>
      </p>
      <p>
        Status: <%= appointment.status %>
      </p>
      <p>
        <%= appointment.user.username %> sketch:
      </p>
      <%= cl_image_tag appointment.photo, height: 300, width: 400, crop: :fill %>
      <p>
        Message:
      </p>
      <p>
        <%= appointment.message %>
      </p>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">

      <% if current_artist.availabilities.count == 0 %>
      <div class="container">
        <h3 class="text-center">
          <h4 class="text-center"> Your availability is not set, yet</h4>
          <div class="container">
            <% else %>
            <h4>
              Your current availability:
            </h4>
            <% current_artist.availabilities.each do |availability| %>
            <ul>
              <%= availability.day %>
              <%= availability.start_time %>
              <%= availability.end_time %>
            </ul>
            <% end %>
            <%end %>
            <%= link_to 'Edit Availability', new_availability_path, class: "btn btn-artist-show" %>
          </div>
        </div>
      </div>
