
<div class="page-margin-bottom">
<% if @appointments.any? %>
<h3 class="text-center">Welcome, <%= current_user.username %>!</h3>

<h4 class="text-center">Your upcoming appointments:</h4>

<% @appointments.reverse.each do |appointment| %>

<div class="card">

   <% if appointment.photo %><%= cl_image_tag appointment.photo, class: 'card-img-top' %>
   <% end %>

   <div class="card-block">

    <h4 class="card-title"><%= appointment.artist.email.split('@')[0] %></h4>
    <p><%= appointment.message %></p>

    <% if appointment.status == "pending" %>
    <p class="card-text">Status: <%= appointment.status %></p>

    <% elsif appointment.status == "confirmed" %>
    <p class="card-text">Deposit: <%= humanized_money_with_symbol(appointment.price) %></p>
    <%= form_tag orders_path do %>
    <%= hidden_field_tag 'appointment_id', appointment.id %>
    <%= submit_tag 'Pay deposit', class: 'btn btn-primary' %>
    <% end %>

    <% elsif appointment.status == "paid" %>
    <p class="card-text"> Deposit paid <i class="fa fa-check" aria-hidden="true"></i> </p>
    <% end %>

    <p class="card-text"><%= appointment.start_time %></p>
    <p class="card-text"><%= appointment.end_time %></p>

    <%= link_to "Chat with artist", artist_appointment_chatroom_path(appointment.id, appointment.id, appointment.chatroom.id), class: "btn btn-primary" %>

  </div>
</div>




</div>






<% end %>
<% else %>
<div class="no-appointments-container">
  <h3 class="text-center">Welcome, <%= current_user.username %>!</h3>
  <h4 class="text-center"> You have no appointments right now</h4>
  <div class="container">
    <%= link_to 'Check our art to book one', artists_path, class: 'center-block btn btn-primary btn-dashboard' %>
  </div>
</div>
<% end %>
