<h2>Hello <%= current_artist.name %></h2>
<h1>This is artist dashboard!</h1>

<h3>Your appointments:</h3>

<% @appointments.each do |appointment| %>


<p>You're having an appointment with <%= appointment.user.username %></p>
<p>Status: <%= appointment.status %></p>
 <p><%= appointment.user.username %> sketch: </p>
  <%= cl_image_tag appointment.photo, height: 300, width: 400, crop: :fill %>
<p>Message:</p>
<p><%= appointment.message %></p>

<% end %>

<h3>Your current availability:</h3>
<% current_artist.availabilities.each do |availability| %>
<ul>
  <%= availability.day %>
  <%= availability.start_time %> -
  <%= availability.end_time %>
</ul>
<% end %>

<%= link_to 'Edit Availability', new_availability_path %>


