<h2>Hello <%= current_artist.name %></h2>
<h1>This is artist dashboard!</h1>

<h3>Your appointments:</h3>

<% @appointments.each do |appointment| %>


<p>You're having an appointment with <%= appointment.user %></p>
<p>Status: <%= appointment.status %></p>
<p>Messages:</p>


<div class="container">
 <span id="messageslist">

  <% appointment.messages.each do |message| %>

  <% if message.from == 'artist' %>
  <div class="user-messages">
    <%= render 'layouts/user_messages', user: message.artist.email, message: message.content, position: "left" %>
  </div>
  <% end %>

  <% if message.from == 'user' %>
  <div class="artist-messages">
    <%= render 'layouts/user_messages', user: message.user.email, message: message.content, position: "right" %>
  </div>
  <% end %>

  <% end %>
</span>
</div>

<%= simple_form_for :message, remote: true, method: :post do |f| %>

<%= hidden_field_tag "artist", appointment.artist.id %>
<%= hidden_field_tag "user", appointment.user.id %>
<%= hidden_field_tag "appointment", appointment.id %>
<%= hidden_field_tag "from", 'artist' %>
<%= text_area_tag :content %>

<%= f.button :submit %>
<% end %>
<% end %>

<h3>Your current availability:</h3>
<% current_artist.availabilities.each do |availability| %>
<ul>
  <%= availability.day %>
  <%= availability.start_time %> -
  <%= availability.end_time %>
</ul>
<% end %>

<%= link_to 'Edit Availability', new_availability_path %>


