<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GetInked</title>
  <meta property="og:image" content="http://2.bp.blogspot.com/-aIzUiEpVHe0/Uz7cRwv67DI/AAAAAAAAAoA/a3QNIwPq_fA/w1200-h630-p-k-no-nu/Download-Tattoo-Girl-Designs-HD-Wallpaper.jpg"/>
  <%= favicon_link_tag %>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
 <%= render 'shared/navbar' if params[:controller] != 'chatrooms' %>
 <%= yield %>

 <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>


 <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
 <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

 <%= javascript_include_tag "https://unpkg.com/scrollreveal/dist/scrollreveal.min.js" %>

 <%= javascript_include_tag "application" %>

 <%= yield(:after_js) %>
</body>
</html>
